{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static './style_loign.css' %}">
</head>
<body>
    <div class="registration-cssave">
        {% block content %}
        <form action='login' method='post'>
            {% csrf_token %}
            <h3 class="text-center">Limbo TSI</h3>
            <div class="form-group">
                <input class="form-control item" type="text" name="username" maxlength="15" minlength="4" pattern="^[a-zA-Z0-9_.-]*$" id="username" placeholder="username" required>
            </div>
            <div class="form-group">
                <input class="form-control item" type="password" name="password" minlength="4" id="password" placeholder="password" required>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block create-account" type="submit">Вход в аккаунт</button>
            </div>
        
        </form>
        {% endblock %}
    </div>


    {% for message in messages%}
    <h3>{{message}}</h3>
    {% endfor %}



</body>
</html>